<!DOCTYPE HTML>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">    <link href="/css/skg.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="container" class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <a href="#/"><h2>Photography by</h2><h1>SKG</h1></a>
          <div>
            <a href="#/collection/evergreen"><span class="uppercase">Evergreen<span></a>
          </div>
          <div>
            <a href="#/collection/song-of-songs"><span class="uppercase">Song of Songs</span></a>
          </div>
          <div>
            <a href="#/collection/portraits"><span class="uppercase">Portraits</span></a>
          </div>

          <div id="thumbnails-container">
            <a href="#/thumbnails"><i class="icon-th"></i> <span class="uppercase">Thumbnails</span></a>
          </div>
          <div id="thumbnails-container">
            <a href="#/about"><i class=""></i> <span class="uppercase">About</span></a>
          </div>
          <div>
            <a href="#/contact"><i class=""></i> <span class="uppercase">Contact</span></a>
          </div>

          <div class="footer">
            <div>(415) 439-0463</div>
            <div>skg.studio@gmail.com</div>
          </div>
        </div>

        <div class="span9 wrapper">
          <ng-view></ng-view>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.backstretch-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
  </body>
</html>
