body,html{
  height:100%;
}

body {
  background: url('https://s3.amazonaws.com/skg-photography/polaroid.png');
  font-family: 'Raleway', cursive;
  color: navy;
}

.header-well {
  width: 100px;
  opacity: 0.9;
}

#logo-text {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
}

a {
  color: navy;
}

body #container .wrapper {
  height: 100%;
}
body #container .wrapper div {
  height: 100%;
}

#thumbnails-container {
  margin-top: 30px;
}

div.footer {
  position:fixed; bottom:0;
  margin-bottom: 10px;
}

#social-icons {
  margin-top: 10px;
}

#social-icons a {
  opacity: 0.3;
  margin-left: 5px;
}

#social-icons a:hover {
  text-decoration: none;
  opacity: 1;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}

footer {
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  position:fixed; bottom:0;
  width: 100%;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}

.wrapper > .container {
  padding-top: 60px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }

  footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}

.uppercase {
  text-transform: uppercase;
}

[class*="thumbnail span"] {
  margin-left: 10px;
}

.pin {
  width: 170px;
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  text-align: center;
  margin-right: 30px;
}

.pin a {
  text-decoration: none;
}
.pin a:link {
  color: @gray;
}
.pin a p {
  color: @textColor;
}

#columns:hover .pin:not(:hover) {
  opacity: 0.9;
}