<div class="container" style="margin-top: 50px;">
  <div class="row-fluid centered">
    <div id="preview-image-container" class="span7">
      <img src="https://s3.amazonaws.com/skg-photography/evergreen/Muse of Avalon.jpg"/>
    </div>

    <div id="preview-image-description" class="span4">
      <h2 class="uppercase">Evergreen</h2>
      <div>
        ..when I touched soil and mud, stone
      </div>
      <div>
        and the sea-foam of my soul,
      </div>
      <div>
        beings that recognize my footsteps, my words,
      </div>
      <div>
        the tendrils of green life kissing my mouth,
      </div>
      <div>
        I said, "Here I am," and I undressed in the brilliance.
      </div>
      <div>
        I let my hands sink into the sea, and when everything reached transparency,
      </div>
      <div>
        beneath the earth, I found peace.
      </div>
      <div style="margin-top: 20px;">
        Neruda, Ceremonial Songs, "Fiesta's End," XIII.
      </div>
    </div>
  </div>
</div>